
    body {
      font-family: Verdana;
      background-color: #800080;
      padding: 30px;
    }
    {
      color: #000000;
    }
    .emocje {
      padding: 15px;
      margin: 10px 0;
      border-radius: 10px;
      color: green;
    }
    .radosc {
      background-color: #FFD700;
      color: black;
    }
    .smutek {
      background-color: #4682B4;
    }
    .zlosc {
      background-color: #8B0000;
    }
    .zaskoczenie {
      background-color: #FF8C00;
    }
    .milosc {
      background-color: #FF69B4;
    }
    .polski {
      font-style: Verdana;
      font-size: 1px;
      color: #000000;
    }
